body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    width: 100%;
    height: 40px;
    background: #484848;
}

.center {
    width: 960px;
    height: 40px;
    margin: 0 auto;
}

.top-nav {
    width: 280px;
    height: 40px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav li {
    height: 40px;
    float: left;
    margin: 0 20px 0 0;
}

.top-nav li a {
    color: #919191;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding: 15px 0 0 0;
    display: block;
    opacity: .8;

}

.top-nav li a:hover {
    opacity: 1;
}

form {
    width: 362px;
    height: 30px;
    padding: 10px 0 0 0;
    float: right;
    color: #919191;
    font-size: 11px;
    text-transform: uppercase;

}

input {
    width: 99px;
    height: 22px;
    border-radius: 5px;
    background: #373737;
    border: 0;
    font-size: 10px;
    color: #666666;
    padding: 0 8px;
    box-shadow: 1px 1px #515151;
}

input.kopce {
    width: 35px;
    height: 22px;
    background: #ec4444;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

input.prv-input {
    margin: 0 0 0 10px;
}

.wrapper {
    width: 960px;
    height: 1200px;
    margin: 0 auto;
}

header {
    width: 960px;
    height: 120px;
}

nav {
    width: 960px;
    height: 40px;
    background: #e2e2e2;
    border-radius: 5px;
}

ul.main-nav {
    width: 600px;
    height: 40px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.main-nav li {
    height: 40px;
    float: left;
    padding: 0 15px;
    border-right: 1px solid white; 
}

ul.main-nav li a {
    text-decoration: none;
    color: #484848;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    padding: 15px 0 0 0;
    height: 40px;
    box-sizing: border-box;
}